<htmL>
<head>
	<title>gts37 cs336 project</title>
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/index.css">

	<script src="/static/javascript/lib/raphael.js"></script>
	<script src="/static/javascript/jquery-3.1.1.min.js"></script>
	<script src="/static/javascript/color.jquery.js"></script>
	<script src="/static/javascript/jquery.usmap.js"></script>
	<script src="/static/javascript/map.js"></script>
	<script src="/static/javascript/bootstrap.min.js"></script>
</head>
<body>

	<div class="section">
		<h1>AYY</h1>
	</div>
	<div class="section map-section">
		<div id="alert">Click a state to see its data</div>
  		<!-- <div id="map" style="width: 930px; height: 630px"></div> -->
		<div id="map" style="width: 590px; height: 400px"></div>
	</div>
</body>
</html>