<htmL>
<head>
	<title>gts37 cs336 project</title>
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/index.css">

	<script src="/static/javascript/lib/raphael.js"></script>
	<script src="/static/javascript/jquery-3.1.1.min.js"></script>	
	<script src="/static/javascript/jquery.usmap.js"></script>
	<script src="/static/javascript/map.js"></script>
	<script src="/static/javascript/bootstrap.min.js"></script>
</head>
<body>

	<div class="section" id="map-container">
		<h1>United States Data for
			<select class="year-selector" name="year"id="year">
				<option disabled selected>Year</option>
				{% for year in years %}
				<option value={{ year }}>{{ year }}</option>
				{% endfor %}
			</select>
		</h1>
	</div>
	<div class="section form-section">
		<form name="post-form" id="post-form">
		<h4> Find states </h4>
		<!-- post[income] -->
		<p>with income
			<label for="income_operator"></label><select name="income_operator">
				<option selected value="">select operator</option>
				<option value="<">&lt;</option>
				<option value="=">=</option>
				<option value=">">&gt;</option>
			</select>
			<label for="amount"> amount </label><input type="text" name="amount" pattern="[0-9]*" placeholder="blank for average"/></br>
		</p>

			<!-- post[education] -->
		<p>where 
			<label for="education_operator"></label><select name="education_operator">
				<option selected value="">select operator</option>
				<option value="<">&lt;</option>
				<option value="=">=</option>
				<option value=">">&gt;</option>
			</select>
			<input type="text" name="percentage" pattern="[0-9]*" placeholder="blank for average"/><label for="percentage">percent</label> of adults completed
			<label for="level"></label><select name="level">
				<option disabled selected value="">None</option>
				<option value="High School">High School</option>
				<option value="Bachelor's">Bachelor's</option>
			</select> or better.
		</p>

			<!-- post[election] -->
		<p>where 
			<label for="party"></label><select name="party">
				<option disabled selected value="">Political Party</option>
				<option value="Constitution">Constitution</option>
				<option value="Democratic">Democratic</option>
				<option value="Green">Green</option>
				<option value="Independent">Independent</option>
				<option value="Libertarian">Libertarian</option>
				<option value="Natural Law">Natural Law</option>
				<option value="New Alliance">New Alliance</option>
				<option value="Reform">Reform</option>
				<option value="Republican">Republican</option>
			</select>
			 received 	
			<label for="vote_operator"></label><select name="vote_operator">
				<option selected value="">select operator</option>
				<option value="<">&lt;</option>
				<optionß value="=">=</option>
				<option value=">">&gt;</option>
			</select>
			<label for="vote_quantity"></label><input type="text" name="vote_quantity" pattern="[0-9]*" placeholder="blank for average"/>
			<label for="vote_type"></label><select name="vote_type">
				<option disabled selected value="">votes</option>
				<option value="electoral">electoral</option>
				<option value="popular">popular</option>
			</select>.
		</p>

			<!-- post[hate] -->
		<p>where 
			<label for="hate_operator"></label><select name="hate_operator">
				<option selected value="">select operator</option>
				<option value="<">&lt;</option>
				<option value="=">=</option>
				<option value=">">&gt;</option>
			</select>
			<label for="hate_quantity"></label><input type="text" name="hate_quantity" pattern="[0-9]*" placeholder="blank for average"/>
			hate groups existed.
		</p>
		</form>
		<button id="form-button"><h6>Show states</h6></button>
		<p>or</p>
	</div>

	<div class="section map-section" id='map-section'>
		<p>Recolor map based on 
			<select class="color-criteria-selector" name="color-criteria-selector" id="color-criteria-selector">
				<option selected value='election'>votes</option>
				<option value='bachelors'>% of population with bachelor's degree or higher</option>
				<option value='hs'>% of population with high school diploma or higher</option>
				<option value='income'>average household income</option>
				<option value='hate'>number of hate groups</option>
			</select>
		</p>
		<p>or</p>

		<p id="alert">Click a state to see its data (appears below map key)</p>
  		<!-- <div id="map" style="width: 930px; height: 630px"></div> -->
		<div id="map"></div>

	</div>

<!-- 		'income_operator': [=,<,>],
			'amount' = int
			'level': [High School, Bachelor's]
			'education_operator': [=,<,>],
			'percentage': int
			'vote_type': [electoral,popular]
			'vote_quantity': int
			'vote_operator': [<,>,=]
			'party': [Republican,Democratic,Green...]
			hate_operator: [<,>,=]
			hate_quantity: int
		} -->
</body>
</html>
